extend components/plantilla.pug
block contenidos
  section.intro__aside
    +verticalMenu("MENU", enlaces)
    .aside__contenido
      h2 #{titulos[0]}
      p
        | Lorem ipsum dolor sit amet consectetur. 
        | Dignissim pulvinar ut gravida sapien aliquam 
        | et amet. Arcu vitae pellentesque tortor 
        | pellentesque. In sit turpis dui aliquam. 
        | Quam leo hac placerat dolor integer.
      p
        | Lorem ipsum dolor sit amet consectetur. 
        | Dignissim pulvinar ut gravida sapien aliquam 
        | et amet. Arcu vitae pellentesque tortor 
        | pellentesque. In sit turpis dui aliquam. 
        | Quam leo hac placerat dolor integer.
      a.boton Ver más