-var usuario = "Ana Paula"
-var titulos = ["Título Principal", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]

doctype html
html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title PlatziGames
		// link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/css-reset-and-normalize/css/reset-and-normalize.min.css")
		link(rel="stylesheet", href='css/ejercicio-pug.css')
	body
		header
			h1 PlatziGames
			if usuario
					a Hola #{usuario}
			else
				a.boton Registro
		section.intro
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2 #{titulos[0]}
				p
					| Lorem ipsum dolor sit amet, 
					| consectetur adipiscing elit.
					| Proin ex mi, gravida sit amet 
					| imperdiet vel, sodales a mi.
					| Proin sit amet tellus nec nisl 
					| bibendum ornare nec at augue.
					| Integer semper feugiat varius.
					span 
						| Proin sed urna quis orci interdum 
						| rutrum. Integer rhoncus finibus 
						| nunc, ac porttitor ex dapibus ac
				a.boton Leer más
		ul
			each titulo in titulos
				li #{titulo}